//- the above line will look for layout.pug file within the /views folder (or within the current folder than index.pug is in). always use//- not //
extends layout

block layout-content
    h1 Welcome to my website! 
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

